// variables

$colorBackground: #FFF;
$colorWhite: #FFF;
$colorText: #4F2F2F;

// style

html {
    background: $colorBackground;
    height: 100%;
    width: 100%;
}

body {
    margin: 0rem;
    padding: 0rem;
    height: 100%;
    position: relative;
    font-family: 'Montserrat',
    sans-serif;
}

.container {
    display: block;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.flip-container {
    perspective: 1000;
    min-height: 100px;
    cursor: pointer;
}

.front,
.back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    width: 100%;
}

.back {
    transform: rotateY(-180deg);
    position: absolute;
}

.flip-container.flipped .back {
    transform: rotateY(0deg);
}

.flip-container.flipped .front {
    transform: rotateY(180deg);
}

.matched {
    opacity: 0.3;
}
