// variables

$colorBackground: #FFF;
$colorBtn: #bd5b5b;
$colorBtnText: #FFF;
$colorText: #212121;

// style

html {
    background: $colorBackground;
    height: 100%;
    width: 100%;
}

body {
    margin: 0rem;
    padding: 0rem;
    height: 100%;
    position: relative;
    font-family: 'Montserrat',
    sans-serif;
    color:$colorText;
}

.container {
    display: block;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width:640px;
    padding: 10px;

    .score {
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 20px;

        div:first-child {
            text-align: left;
        }

        div:last-child {
            text-align: right;
        }

        span {
            font-weight: bold;
            display: inline-block;
            min-width: 60px;
            text-align: left;
        }
    }

    .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 20px;
    }

    .grid-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .memorycard img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .flip-container {
        perspective: 1000;
        cursor: pointer;
    }

    .front,
    .back {
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
        top: 0;
        left: 0;
        width: 100%;
    }

    .back {
        transform: rotateY(-180deg);
        position: absolute;
    }

    .flip-container.flipped .back {
        transform: rotateY(0deg);
    }

    .flip-container.flipped .front {
        transform: rotateY(180deg);
    }

    .matched {
        opacity: 0.3;
    }

    .btn {
        border-radius: 6px;
        border:none;
        padding: 12px 30px;
        background-color: $colorBtn;
        color: $colorBtnText;
        font-size: 18px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.36);
    }
}
